.swatch-container {
  display: flex;

  align-items: center;
  justify-content: flex-end;

  padding: 10px;
}

.swatch {
  border: 4px solid black;
  background: white;

  font-family: monospace;
  font-size: 32px;
  font-style: bold;
  line-height: 0;

  padding: 10px;
  margin-right: 10px;

  min-width: 50px;
  min-height: 50px;
  outline: none;
}

.swatch:active {
  border-bottom-width: 2px;
  border-top-width: 6px;
}

.swatch.active {
  outline: solid 5px rgba(255, 0, 0, 1);
  outline-offset: 2px;
  animation-name: my-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes my-anim {
  0% {
    outline-color: rgba(255, 0, 0, 1);
  }

  50% {
    outline-color: rgba(255, 0, 0, 0);
  }

  100% {
    outline-color: rgba(255, 0, 0, 1);
  }
}

.swatch-label {
  background: white;

  font-family: monospace;
  font-size: 16px;

  margin-right: 10px;
}
